/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Sections Styling*/

.section-1 {
    height: 100vh;
    background: #FF0000;
    
}

.section-1 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    transform: translate(50%, 50%);
}

.section-1 h2 {
    color: #FFFF00;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-size: 35px;
    margin-top: 30px;

}

.section-2 {
    height: 100vh;
    background: #008000;
    
}

.section-2 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    transform: translate(50%, 50%);
}

.section-2 h2 {
    color: #FFFF00;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-size: 35px;
    margin-top: 30px;

}


