/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* Navigation Styling */

.navigation {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 1;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    background: white;
    font-size: 18px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 15px;
}

.navigation a {
    text-decoration: none;
    color: black;
}



/* Sections Styling*/

/* First Section Styling */

.section-1 {
    height: 100vh;
    background: #FF0000;
    position: relative;
}

.section-1 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    transform: translate(50%, 50%);
}

.section-1 h2 {
    color: #FFFF00;
    width: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 150px;
    
}

/* Second Section Styling */

.section-2 {
    height: 100vh;
    background: #008000;
    position: relative;
}

.section-2 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    transform: translate(50%, 50%);
}

.section-2 h2 {
    color: #FFFF00;
    width: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 150px;
    
}

/* Third Section Styling */

.section-3 {
    position: relative;
    height: 100vh;
    background: #FFFF00;
    
}

.section-3 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    transform: translate(50%, 50%);
}

.section-3 h2 {

    color: #008000;
    width: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 150px;
    
}

